  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :class => :text %>
  </p>
  <p>
    <%= f.label :teaser %>
    <%= f.text_area :teaser, :class => :small %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>