<h1>Editing post</h1>

<p class="action-links"><%= link_to 'Show', ['admin', @post] %> | <%= link_to 'Back', admin_posts_path %></p>

<% form_for(['admin', @post]) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => 'post_fields', :locals => { :post => @post, :f => f } %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>



