<%- full_post ||= false -%>
<div class="post">
	<div class="post-info">
		<ul>
			<li class="number">#<%= post.id %></li>
			<li class="date"><%= post.created_at.to_s(:post) %></li>	
			<%= content_tag(:li, link_to("#{post.comment_count} comments", ""), :class => :comments) if post.comment_count.to_i > 0 %>
		</ul>
	</div> <!-- post-info -->
	<div class="post-content">
		<h1><%= full_post ? post.title : link_to(post.title, post) %></h1>
		<%=rnst( full_post ? post.body : post.teaser ) %>
	</div> <!-- post-content -->
				<%= content_tag :p, link_to("Edit", edit_admin_post_path(post)) if superuser? %>			
	<%- if full_post -%>
	<div class="post-resources">
		<h3>Resources</h3>
		<% @post.post_resources.each do |pr| %>
		<ol>
			<li><%= link_to pr.title, pr.url, :class => :external %></li>
		</ol>
		<% end %>
		<h3>Tags</h3>
		<ul>
			<li><%= tag_list(post) %></li>
		</ul>
	</div> <!-- post-resources -->
	<div id="post-comments">
		<h2><%= image_tag "rss.gif" %> <%= link_to "13 Comments" %></h2>

		<div class="comment">
			<div class="comment-info">
				<p><%= link_to "3 replys",'', :class => :replys %> 1. <%= link_to "Dinshaw", "", :class => :commentor %> <span class="date">Jan 12, 2009 at 12.34 am</span></p>
			</div> <!-- comment-info -->
			<div class="comment-content">
				<p>How would you go about sequencing a specific number length? For example, if I need a 7 digit number, how could I specify that the number must have leading zeros?</p>
				<p>I'm currently doing:</p>
				<p>http://pastie.org/452428</p>
			</div> <!-- comment-content -->
			<div class="comment-actions">
				<p><%= link_to "reply", "" %> | <%= link_to "spam?", "" %></p>
			</div> <!-- comment-actions -->
		</div> <!-- comment -->
	</div> <!-- post-comments -->
	<%- end -%>
</div> <!-- posts -->